ipython~=8.11
jupyter~=1.0
jupyterlab~=3.6

pandas~=1.4
polars~=0.18
scipy~=1.10
sympy~=1.11
matplotlib~=3.5
numpy~=1.23

jupytext~=1.14
jupyterlab-code-formatter~=1.6
black~=23.3
isort~=5.12

duckdb-engine~=0.7
duckdb~=0.7
jupysql~=0.7
mysql-connector-python~=8.0
odfpy~=1.4
psycopg~=3.1
scikit-learn~=1.2
seaborn~=0.12
SQLAlchemy~=2.0
torch~=1.13
